name: Release

on:
  push:
    branches: [release/*, test-release/*]

jobs:
  release:
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}